<div class="callback">
  <app-alert [error]="err" *ngIf="err" (close)="err = undefined;"> </app-alert>
  <div class="popup-content">
    <h5 id="text">Processing ...</h5>
  </div>
</div>
<ng-template #tfaDialogTemplate>
  <div class="dialog">
    <h5>Your 2FA authentication is enabled. Please insert your code here:</h5>
    <br>
    <br>
    <mat-form-field>
      <input type="password" matInput [(ngModel)]="tfaPassword" placeholder="TFA Code" pattern="[0-9]{6}" maxlength="6" appNumericInput>
    </mat-form-field>
    <br>
    <div class="btn">
      <button mat-button class="cancel-btn" (click)="onCancelClick()">Cancel</button>
      <button mat-button class="send-btn" (click)="onSendClick()">Send</button>
    </div>
  </div>
</ng-template>
