/* Notification Component CSS */
.notification-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 200px;
  z-index: 1000;
}

.notification-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.notification-item {
  margin-bottom: 10px;
}

.notification {
  color: aliceblue;
  background-color: rgba(177, 255, 214, 0.293);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notification-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.message-snippet {
  align-items: center;
  margin-bottom: 10px;

}

.notification-icon {
  margin-right: 10px;
}

.chat-label {
  font-weight: bold;
}

.sender-name {
  margin: 5px 0;
  font-weight: bold;
}

.notification-actions {
  display: flex;
}
